/* style file created by Dylan Hagy
===============================================
00: css variable
01: color
02: Typography

===============================================
*/

/* 00: css variable */
:root{
    --body-color: hsla(359,39%,35%,0.8);
    --page-color: hsla(30, 32%, 88%, 0.9);
    --sidebar-color: rgb(191,164,99);
    /** font color **/
    --font-color: rgb(2,17,22 );
    /** h1 color -- practice **/
    --h1-color: hsla(240, 87%, 3%, 0.979);
    /** layout variables **/
    --page-top-position: 85%;
    --page-width: 30%;
    --bottom-bar-height: 15vh;
    --bottom-bar-color: hsla(27, 43%, 55%, 1);
}


/* 01: Color */
body{
    background-color: var(--body-color);
}
#zen-intro{
    background-color: var(--page-color);
    color: var(--font-color);
}
#zen-supporting{
    background-color: var(--page-color);
}
.sidebar{
    background-color: var(--sidebar-color);
}
h1{
    color: var(--h1-color);
}

/* 02: Layout */
div.explanation, div.requirements, div.benefits, div.participation {
    position: fixed;
    width: var(--page-width);
    top:  var(--page-top-position);
    background-image: url(../img/newspaper3.jpg);
    /** Transition: all 4s ease-in-out**/
    transition: all 4s ease-in-out;
}

div.explanation{
    left: 0%;
}

/* finish it for requirements/benefits/participation */

div.requirements{
    left: 15%;
}

div.benefits{
    left: 30%;
}

div.participation{
    left: 45%;
}

aside.sidebar{
    position: absolute;
    top: 20%;
    right: 2%;
    /* bottom: 0; */
    /* adjust width/height */
    width: 15%;
    height: 60%;
}

section.intro{
    /* finish as much as can */
    position: fixed;
    bottom: 15%;
    left: 30%;
    width: 30%;
    height: 70%;
    background-image:url(../img/newspaper3.jpg);
    padding: 2%;
    border: 2px dashed rgb(39, 34, 34);
    margin-left: 10px;
    text-indent: 1px; /* -9999px can remove the content away */
    /** put the transform and translate here**/
    transform: rotate(-10deg) translate(-100px,0);
}

div.extra2{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--bottom-bar-height);
    background-color: var(--bottom-bar-color);
}

div.extra1{
    position: fixed;
    bottom: 5%;
    left: 20%;
    width: 32%;
    height: 80%;
    background-image: url(../img/newspaper2.jpg);
    z-index: -1;
    /** put the transform and translate here**/
    transform: rotate(15deg) translate(200px, -100px);
}

/* create tabs for the folder */
div.explanation h3, div.requirements h3, div.benefits h3, div.participation h3 {
    margin-top: -3.8%;
    width: 12vw;
    background-color: bisque;
}

/** 03: Typography **/
@font-face {
    font-family: 'myfont';
    src: url(../fonts/chunkfive.eot);z
}

header h1{
    font-family: 'myfont', sans-serif;
    font-weight: 100;
    font-size: 1.25em;
    letter-spacing: normal;
    line-height: 1em;
    text-transform: uppercase;
}

header h2{
    /* use different web fonts */
    font-family: 'Arsenal', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

/* hiding resources */
#design-selection h3 {
    visibility: hidden;
}

/* hide the archive section / resource section */ 
#design-archives {
    visibility: hidden;
}

#zen-resources {
    visibility: hidden;
}

/* 04 Selector practice, transform, transition, ... */
a:hover {
    font-size: 1.5em;
}

div.explanation:active {
    top: 15vh;
    height: 90vh;
}

/* finish the active actions for requirements/benefits/participation */
div.requirements:active {
    top: 15vh;
    height: 90vh;
}

div.benefits:active {
    top: 15vh;
    height: 90vh;
}

div.participation:active {
    top: 15vh;
    height: 90vh;
}

p::first-letter {
    font-size: 1.5em;
    font-style: italic;
}

p:nth-child(2n){
    background-color: bisque;
}

p:nth-child(2n+1){
    background-color: aquamarine;
}

li:first-of-type {
    background-color: yellow;
    font-size: 1.5em;
}

/** Try one text shadow **/
h3 {
    color: black;
    text-shadow: gray 0.1em 0.1em 0.2em;
}

/** Border radius for the tabs **/
div.explanation h3, div.requirements h3, div.benefits h3, div.participation h3 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top: solid black 1px;
    padding-left: 5px;
}

/** list style image **/
ul {
    list-style-image: url(../img/star.png);
}

/** Transform and Transition **/
section.intro h3 ~p{
    opacity: 1;
    transition: all 3s ease-in-out;
}

section.intro h3:hover ~p{
    transform: scale(0.2);
    opacity: 0;
}

@keyframes backandforth {
    from{transform: translate(-500px,0);}
    30%{transform: translate(-300px,0);}
    50%{transform: translate(300px,0);}
    70%{transform: translate(500px,0);}
    90%{transform: translate(600px,0);}
}

footer{
    position: fixed;
    bottom: 5vh;
    left: 50%;
    z-index: 4;
    animation: 10s ease-in-out 2s alternate infinite backandforth;
}

/** 05: Fun Features **/
/**
body {
    clip-path: circle(60% at 50vw 50vh);
} **/

aside.sidebar{
    clip-path: polygon(0 0, 0 60%, 50% 90%, 100% 60%, 100% 0);
}